on: push

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
 npm-build:

    runs-on: ubuntu-latest
    steps:
      - name: 声明使用插件
        uses: actions/checkout@v4
      - name: 查看云路径
        run: pwd
      - name: 列出当前目录文件
        run: ls -la
      - name: 查看 Node.js 和 npm 版本
        run: |
            npm --version
            node --version
      - name: 安装依赖并构建项目
        run: |
            npm install
            npm run build

      - name: 创建页面
        uses: actions/configure-pages@v4

      # 将打包后的 dist 目录上传（Vite 默认是 dist，CRA 是 build）
      - name: 上传构建包
        uses: actions/upload-pages-artifact@v3
        with:
          path: './dist'
          branch: 'gh-pages'
          clean: true

      - name: 部署页面
        uses: actions/deploy-pages@v4
    

      